<section id="contact" class="contact">
    <h2 class="section-title">Hubungi <span>Saya</span></h2>
    <div class="contact-container">
        <div class="contact-info">
            <div class="info-item">
                <i class="fas fa-map-marker-alt"></i>
                <div>
                    <h3>Lokasi</h3>
                    <p>Jember, Indonesia</p>
                </div>
            </div>
            <div class="info-item">
                <i class="fas fa-envelope"></i>
                <div>
                    <h3>Email</h3>
                    <p>pandusatria2807@gmail.com</p>
                </div>
            </div>
            <div class="info-item">
                <i class="fas fa-phone-alt"></i>
                <div>
                    <h3>Telepon</h3>
                    <a href="https://wa.me/+6281230487469">+62 812-3048-7469</a>
                </div>
            </div>
            <div class="info-item">
                <i class="fab fa-linkedin"></i>
                <div>
                    <h3>LinkedIn</h3>
                    <a href="https://www.linkedin.com/in/pandustrr/">linkedin.com/in/pandusatria</a>
                </div>
            </div>
        </div>
    </div>
</section>