<section id="education" class="education">
    <h2 class="section-title">Pendidikan & <span>Sertifikasi</span></h2>
    <div class="timeline">
        <div class="timeline-item">
            <div class="timeline-date">2023 - Sekarang</div>
            <div class="timeline-content">
                <h3>Universitas Jember</h3>
                <p>S1 Informatika</p>
                <p>IPK: 3.82/4.0</p>
                <ul>
                    <li>Mata Kuliah Relevan: Algoritma dan Pemrograman I (A), Algoritma dan Pemrograman II (AB), Pemrograman Berorientasi Obyek (AB), Functional Programming (AB), Pengembangan Perangkat Lunak (A), Pemrograman Berbasis Website (A)</li>
                </ul>
            </div>
        </div>
        
        <div class="timeline-item">
            <div class="timeline-date">2024</div>
            <div class="timeline-content">
                <h3>Sertifikasi</h3>
                <ul>
                    <li>Pemilihan Mahasiswa Berprestasi (PILMAPRES) – BEM Fakultas Ilmu Komputer, Universitas Jember</li>
                    <li>Pelatihan Git & Hacktoberfest: Pemanfaatan Layanan Git untuk Memonitor Proyek Pemrograman Secara Bersama – UKM LAOS, Fakultas Ilmu Komputer, Universitas Jember</li>
                    <li>Panitia PDD dalam kegiatan 3x3 Competition 2024 – UKM Bola Basket Universitas Jember</li>
                </ul>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-date">2024</div>
            <div class="timeline-content">
                <h3>Lomba & Organisasi</h3>
                <ul>
                    <li>Peserta Informatic Competition (I-COM) – HMIF, Fakultas Ilmu Komputer, Universitas Jember</li>
                    <li>Pengurus Kominfo – UKM Bola Basket, Universitas Jember</li>
                    <li>Panitia PDD 3x3 Competition 2024 – UKM Bola Basket, Universitas Jember</li>
                    <li>Panitia Pormaba 2024 - UKM Bola Basket, Universitas Jember</li>
                    <li>Panitia Rektor Cup 2025 - UKM Bola Basket, Universitas Jember</li>
                </ul>
            </div>
        </div>

    </div>
</section>