<nav class="navbar">
    <div class="navbar-brand">
        <span>Pandu Satria</span>
    </div>
    <ul class="navbar-links">
        <li><a href="#home">Beranda</a></li>
        <li><a href="#about">Tentang</a></li>
        <li><a href="#skills">Keahlian</a></li>
        <li><a href="#education">Pendidikan</a></li>
        <li><a href="#projects">Proyek</a></li>
        <li><a href="#contact">Kontak</a></li>
    </ul>
    <div class="navbar-toggle">
        <i class="fas fa-bars"></i>
    </div>
</nav>